@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* Edge */
    scrollbar-width: none; /* Firefox */
  }

  @keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }

  .wrapper {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    animation: slidein 120s linear infinite;
    filter: grayscale(100%);
  }

  a .nx-text-sm {
    font-size: 1.1rem !important;
  }

  .dark\:bg-dark {
    @apply bg-gray-900;
  }

  .dark\:shadow-dark {
    @apply shadow-lg;
  }
}

@layer components {
  .webbCardBg {
    background: #fff;
    box-shadow:
      0px 0px 0px 1px rgba(0, 0, 0, 0.03),
      0px 2px 4px rgba(0, 0, 0, 0.05),
      0px 12px 24px rgba(0, 0, 0, 0.05);
  }

  .dark .webbCardBg {
    background: #1f1d2b;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.2);
  }

  .list,
  .list:focus-visible,
  .list:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

@layer base {
  code {
    @apply text-sm;
  }

  .dark .invert-on-dark {
    filter: invert(1) brightness(1.8);
  }
}

@supports (
  (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
  html[class~="dark"] div.nextra-nav-container-blur {
    background-color: rgba(31, 29, 43, 1) !important;
  }
}

div[role="tabpanel"] {
  background-color: #f1f5fb;
  padding: 33px 33px 23px 33px;
  border: 1px solid #9696ff;
}

[role="tab"][aria-selected="true"] {
  background-color: #5858fd;
  color: white;
  font-weight: 700;
}

[role="tab"][aria-selected="false"] {
  background-color: #fcfdff;
  border-top: 1px solid #a8a8ff;
  border-left: 1px solid #a8a8ff;
  border-right: 1px solid #a8a8ff;
  color: #3333c9;
}

@font-face {
  font-family: "BreezeSans";
  src: url("public/fonts/BreezeSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BreezeSans";
  src: url("public/fonts/BreezeSans-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "BreezeSans";
  src: url("public/fonts/BreezeSans-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Cousine";
  src: url("public/fonts/Cousine-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cousine";
  src: url("public/fonts/Cousine-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
