/* components/CardGrid.module.css */
.actionCardGrid {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
  gap: 1rem;
  padding-top: 30px;
  justify-content: flex-start; /* Align cards to the start of the container */
  width: 100%; /* 100% width of the parent minus padding */
  margin: 0 auto; /* Center the grid if it's smaller than the parent */
}

.actionCardGrid > * {
  /* Direct children are the cards */
  flex: 1 1 235px; /* Allow cards to grow but have a minimum width of 235px */
  max-width: calc(
    50% - 1rem
  ); /* Maximum width of 50% of the parent width minus gap */
}

.card {
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Three rows: header, content, footer */
  margin: 0px 0px 4px 0px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow:
    0 4px 8px 0 rgb(0 0 0 / 8%),
    0 6px 20px 0 rgb(0 0 0 / 1%);
  overflow: hidden; /* Maintain the border-radius */
  background-color: #f5f5f5d1;
}

@media screen and (max-width: 480px) {
  .actionCardGrid > * {
    max-width: 100%; /* Single column layout on small screens */
  }
}

.cardHeader {
  background: linear-gradient(163deg, #6a34fe, #a991ff1c);
  border-radius: 8px 8px 0 0; /* Rounded corners at the top */
  color: #fff;
  display: flex;
  align-items: center;
  padding: 1rem;
  /* No need for absolute positioning; the grid handles the layout */
}

.title {
  font-size: 1.05rem;
  font-weight: 700;
  text-align: left;
}

.description {
  font-size: 1rem;
  padding: 1rem;
  text-align: left;
  /* The content will naturally flow in the second row */
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
  border-top: 1px solid rgb(202, 202, 202);
  text-decoration: none; /* Removes underline from links */
  color: inherit;
}

.footerContent {
  display: flex;
  align-items: center; /* Aligns the icon and text vertically */
  font-weight: 600;
}

.icon {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  margin-right: 0.5em;
  color: #cf00ef;
}

.cardArrow {
  font-size: 1.4em;
  color: rgb(183, 183, 183);
}

.link {
  display: flex;
  align-items: center;
  width: 100%;
  color: rgb(27, 27, 27);
  padding: 0.5rem 1rem;
  text-decoration: none;
}
