/* RestakingRewardsCalculator.module.css */
.addButton {
    background-color: #667eea; /* bg-indigo-600 */
    color: white;
    padding: 8px 16px;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    border-radius: 0.375rem; /* rounded-md */
    display: inline-block;
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
  }

  .addButton:hover {
    background-color: #5a67d8; /* hover:bg-indigo-700 */
  }
  
  .removeButton {
    background-color: #ea6666; /* bg-indigo-600 */
    color: white;
    padding: 8px 16px;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    border-radius: 0.375rem; /* rounded-md */
    display: inline-block;
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
  }
  
  .removeButton:hover {
    background-color: #d85a5a; /* hover:bg-indigo-700 */
  }

  
  .calcContainer {
    margin: auto;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 20px; /* Adjust the gap between items as needed */
    padding: 20px;
    background-color: #4000e4;
  }
  
  .calcContainer > * {
    flex: 1 1 calc(50% - 20px); /* Each child takes up half the container width minus the gap */
  }
  
.generalDetailsContainer {
    max-width:30%;
    background-color: #000e8e;
    padding: 13px;
}

.roleInputContainer {
    background-color: #280569;
    padding-left: 13px;
    padding-right: 13px;
}

  .space-y-4 > * + * {
    margin-top: 1rem;
  }
  
  .selectInput,
  .numberInput,
  .addButton {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.375rem; /* rounded-md */
    font-size: 1rem;
  }
  
  .selectInput:focus,
  .numberInput:focus {
    outline: none;
    border-color: #4F46E5; /* Indigo-500 */
    box-shadow: 0 0 0 1px #4F46E5;
  }

  
  .label {
    display: block;
    font-size: 0.875rem; /* text-sm */
    font-weight: medium;
    color: #ffffff; /* Gray-700 */
  }
  
  .title {
    font-size: 1.2rem; /* text-xs */
    color: #ffffff; /* Gray-500 */
  }

  .note {
    font-size: 0.75rem; /* text-xs */
    color: #ffffff; /* Gray-500 */
  }

  .result {
    padding: 1rem;
    margin-top: 1rem;
    background-color: #f0f4f8; /* A very light shade of blue to distinguish the result area */
    border-radius: 0.375rem; /* rounded-md */
    border: 1px solid #e2e8f0; /* A light gray border for subtle definition */
  }
  
  .resultTitle {
    font-size: 1.125rem; /* text-lg */
    font-weight: 600; /* Semi-bold for the title */
    color: #374151; /* Gray-700 for contrast and readability */
    margin-bottom: 0.5rem; /* Space between title and value */
  }
  
  .resultValue {
    font-size: 1.875rem; /* text-3xl */
    font-weight: 700; /* Bold for the value to stand out */
    color: #1F2937; /* Gray-800 for maximum contrast and emphasis */
  }